html,
body,
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: $font-primary;
}

header,footer{
    background-color: $write;
    color:#fff;
    @include main-padding;
}

