html,
body,
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header,footer{
    background-color: $write;
    color:#fff;
    @include main-padding;
    @include flex-center;
}

