button {
    cursor: pointer;
    font-size: 0.72vw;
}

#filterform,
.btn-group {
    button {
        width: 3.4vw;
        height: 2rem;
        background-color: $write;
        border: 1px solid $write-transparent;
        color: $primary-light;
        text-transform: uppercase;
    }
}

.btn-group {
    // border: 2px solid red;
    display: flex;
    justify-content: space-between;
    margin: auto auto 1vw;
}

.single-card {
    &__body {
        button {
            background-color: $write;
            color: $primary;
            padding: 0.75rem;
            min-width: 10vw;
            border: 1px solid transparent;
            text-transform: uppercase;
            transform-origin: center;
            transition: 0s;

            &:hover {
                background-color: $secondary;
            }

            &:active {
                transform: scale(0.98);
            }
        }
    }
}

button:disabled {
    background-color: $secondary;
    border: 1px solid $secondary-transparent;
}

.pill-group {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;

    button {
        background-color: $primary-light;
        border: 1px solid $write;
        color: $write;
        padding: 0.4vw;
        border-radius: 32px;
        text-transform: capitalize;
        min-width: 4vw;
        &:hover{
            background-color: $write;
            color: $primary;
        }
    }
}

// tags 

.boutique-card {
    .count {
        li {
            border:1px solid $write;
            border-radius: 32px;
            color: $write;
            padding: 0.4rem;
            width: 6.4vw;
            margin:auto;
        }
    }
}

#sponsored {
    >div {
        background-color: $border-color;
        color: $write;
        width: min-content;
        padding: 0.25rem 1rem 0.5rem;
        font-size: 0.6vw;
        text-shadow: 0px 0px $secondary-transparent;
    }
}