  h2 {
    text-transform: uppercase;
    font-family: $font-primary-bold;
    font-size: 1.16vw;
    color: $write;
  }

  .boutique-card,
  .promotion-card,
  .single-card {
    &__body {
      color: $write;

      h2 {
        text-transform: capitalize;
        font-size: 0.96vw;
      }

      h6 {
        font-size: 0.76vw;
        font-weight: 200;
      }
    }
  }

  .promotion-card{
    &__body{
      h2{
        text-transform: inherit;
        &::first-letter{
          text-transform: uppercase;
        }
      }
    }
  }