// separateur

.navbar{
    ul{
        hr{
            border:unset;
            height: 0px;
            border-top: 1px solid #9e9e9e48;
            margin-block-start: 0.5rem;
            margin-block-end: 0.5rem;
        }
    }
}


// traite des ul et li du site

ul,li{
    list-style: none;
}

