// traite des paragraphes, des description dans les cards 

// global

p{
    color:$write;
    font-size: 0.88vw;
}

.boutique-card{
    &__body{
        p{
            font-size: 0.72vw;
        }
    }
}