// traite des paragraphes, des descriptions dans les cards 

// global

p{
    color:$write;
    font-size: 0.8vw;
    font-family: $font-primary-light;
}

.boutique-card{
    &__body{
        p{
            font-size: 0.72vw;
        }
    }
}

.boutique-content{
    p{
        line-height: 1.8rem;
    }
}