.boutique-card,
.promotion-card {
    border: 1px solid $border-color;
    background-color: $primary-light;
    margin: auto 0;
    height: auto;
    transition: 0.1s ease-in;
    @include card-shadow;

    &__header {
        @include flex-center-center;
        height: 8vw;
        width: 100%;

        img {
            height: 64%;
            width: auto;
        }
    }

    &__body {
        padding: 2vw;
        border-top: 1px solid $border-color;
        height: 14vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        text-align: center;

        .meta {
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }
    }

}

.promotion-card,
.single-card {
    border: 1px solid $border-color;
    background-color: $primary-light;
    height: auto;

    &__header {
        height: 8vw;

        img {
            width: 44%;
            height: auto;
        }

        span {
            font-size: 2vw;
            color: $write-transparent;
        }
    }

    &__body {
        height: 12vw;
        align-items: center;
        z-index: 0;
        position: relative;
    }

    .absolute-info-frame {
        position: absolute;
        width: 16.5vw;
        height: 20vw;
        display: flex;
        justify-content: flex-end;

        >div {
            padding: 0.5rem;
            z-index: 99;

            i {
                cursor: pointer;
            }
        }

        .fa-circle-info:before,
        .fa-info-circle:before {
            color: $secondary;
        }
    }

    #sponsored {
        position: absolute;
        text-align: center;
        overflow: hidden;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        width: 16.5vw;
        height: 20vw;


    }
}


.single-card {
    &__header {
        display: flex;
        width: 16vw;

        img {
            width: auto;
            height: 64%;
            margin: auto;
        }
    }

    &__body {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
        grid-gap: 1rem;
    }
}