.main {
    display: flex;
    flex-direction: column;
    min-height: 48vw;
    background-color: $bg-color;

    &__body {
        @include main-padding;

        .list-boutique-grid,
        .boutique-grid,
        .promotion-grid {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            place-content: center;
            grid-gap: 1vw;
            padding-bottom: 1vw;
        }
    }

    &__header {
        height: 4.8vw;
        @include flex-center-center;
        @include main-padding;
        flex-direction: column;
        align-items: flex-start;
    }
}

#taxo-store,
#front-page,
#all-offers {
    .main {
        &__body {
            grid-template-columns: auto auto;
            display: grid;
            grid-gap: 1vw;
        }
    }
}

#taxo-store{
    .main{
        &__body{
            grid-template-columns: auto auto;
        }
    }
}

.aside {
    background-color: $primary-light;
    padding: 2vw;
    width: 18vw;
    height: fit-content;
    &__body{
        display: grid;
        grid-gap: 1.5vw;
        &__item{
            h2{
                margin:auto auto 1rem;
            }
        }
    }
}