nav a {
    color: $primary-light;
    text-decoration: none;
}

.topbar {
    border-bottom: 1px solid $secondary-transparent;
    min-height: 2.4vw;
    justify-content: space-between;
    @include flex-center;

    ul {
        display: flex;
        list-style: none;
        gap: 1rem;
        a{
            text-transform: uppercase;
            font-size: 0.76vw;
        }
    }
}

.navbar {
    @include flex-center;
    justify-content: space-between;

    a {
        width: 6.4%;
        display: flex;
        padding: 1rem 0rem;
        img {
            width: 100%;
            height: auto;
        }
    }

    align-items: flex-end;

    .menu {
        display: flex;
        grid-template-columns: 1fr 1fr;

        &__drop-down{
            width: 12.5vw;
        }

        &__drop-down {
            height: 4vw;
            z-index: 999;
            >ul {
                position: absolute;
                height: auto;
                #trigger{
                    height: 4vw;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width:12.5vw;
                    cursor: pointer;
                    padding-left: 1rem;
                    padding-right: 1rem;
                }
                .submenu {
                    display: none;
                    z-index: 999;
                    background-color: $write;

                }
                .submenu.block{
                    display: block;
                }
            }
            i.fa-solid.fa-chevron-down{
                color:$secondary;
                transition: 0.1s linear;
            }
            .turn-180{
                transform: rotate(180deg);
            }
        }
        &__search{
            width: auto;
            @include flex-center;
            ul{
                @include flex-center-center;
            }
        }
    }
}