nav a {
    color: $primary-light;
    text-decoration: none;
}

.topbar {
    border-bottom: 1px solid $secondary;
    min-height: 2.4vw;
    justify-content: space-between;
    @include flex-center;
    ul{
        display: flex;
        list-style: none;
        gap:1rem;
    }
}

.navbar {
    // background-color: darkslategrey;    
    min-height: 8vw;
    @include flex-center;
    justify-content: space-between;

    a {
        img {
            width: 10%;
            height: auto;
            margin: 1rem;
        }
    }
}