

.schedule {
    table {
        width: 100%;
        border-spacing: 0px;

        tr {
            td {
                padding: 0.5rem;
            }
            td,td span{
                font-family: $font-primary-light;
            }


        }
        tr:nth-child(odd){
            background-color: $bg-color;
            color:$write;
        }
        tr:nth-child(even){
            background-color: $secondary;
            // color:$primary-light;
        }
    }
}