@mixin main-padding{
    padding-left:$main-padding;
    padding-right:$main-padding;
}

@mixin flex-center{
    display: flex;
    align-items: center;
}

@mixin flex-center-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin card-shadow{
    box-shadow: 1px 1px 0px 0px $primary, -1px -1px 0px 0px $primary;
}