$write : #161616;
$write-transparent : #16161680;
$primary-light : #fefefe;
$primary:#f4f4f4;
$bg-color : #fafafa;
$border-color: #e4e4e4;
$secondary:#b8bcbe;
$secondary-transparent:#b8bcbe48;

$font-primary:'Roboto';
$font-primary-light:'Roboto Light';
$font-primary-italic:'Roboto Italic';
$font-primary-bold:'Roboto Bold';

$main-padding : 14vw;
